<h1>Poems</h1>

  <% @poems.each do |poem| %>
  <div class="poems">
    <h3 class="title"><%= poem.title %></h3>
    <p class="author"><%= poem.author %></p>
    <p class="poem"><%= poem.lines %></p>
    <p class="tone"><%= poem.tone %></p>
  </div>
  <% end %>
